body {
     background: rgba(0, 0, 0, 0);
}
.video-player-wrapper {
    font-size: 16px;
    background: rgba(0, 0, 0, 0);
}
#video-player {
    position: absolute;
    width: 90%; height: 90%;
    left: 5%; top: 5%;
    overflow: hidden;
    background: #000;
    font-size: 1em;
    background: rgba(0, 0, 0, 0);
}