<div ng-controller="NavCtrl">
    <a href="./#/home" ng-hide="isLoggedIn">Film Festival</a><br>
    <a href="./#/gallery" target="_self" ng-show="isLoggedIn">Gallery</a><br>
    <a href="./#/player" target="_self" ng-show="isLoggedIn">Movie Player</a><br>
    <a href="./#/account" target="_self" ng-show="isLoggedIn">Account</a><br>
    <a href="./#/login" ng-hide="isLoggedIn">Sign In</a><br>
    <a href="./#/register" ng-hide="isLoggedIn">Register</a><br>
    <a href="" ng-click="logout()">Log Out</button>
</div>