<div ng-include src=" './views/nav.html' "></div>
<br>
Create your account:
<br>
<br>
<form name="regForm" ng-submit="submitForm(regForm.$valid, email, password, passwordConfirm)" novalidate>
    <label>Email Address</label>
    <br>
    <input type="email" name="email" ng-model="email" required>
    <br>
    <br>
    <label>Choose a password (4-60 characters)</label>
    <br>
    <input type="password" name="password" ng-model="password" ng-minlength="4" ng-maxlength="60" required>
    <br>
    <br>
    <label>Confirm password</label>
    <br>
    <input type="password" name="passwordConfirm" ng-model="passwordConfirm" ng-minlength="4" ng-maxlength="60" required>
    <br>
    <br>
    <input type="submit" value="Register" ng-disabled="regForm.$invalid">
</form>